<h1> HI my show page!</h1>

<div class ="container" >
  <%= @restaurant.name %>
  <br>
  <%= @restaurant.address %>
  <br>
  <%= @restaurant.phone_number %>
  <br>
  <%= @restaurant.category %>
</div>
